<div class="container-center">
    <div class="unverifiedHeading">
        <h1><a href="/">THE YEAR BOOK.</a></a></h1>
        <p>The requested page could not be found. Sorry for inconvenience</p>
    </div>

</div>