<div class="container">
    <div class="dashboardHeader">
        <img src="data:image/png;base64,{{image}}">
        <h1>Batch: {{batch}}</h1>
        <button type="submit"><a href="/user/logout">LOGOUT</a></button>
    </div>
</div>