<div class="container">
    <div class="dashboardHeader">
        <img src="data:image/png;base64,{{image}}">
        <h1><a id="main" href="/">Home</a> | Change password</h1>
        <button type="submit"><a href="/logout">LOGOUT</a></button>
    </div>
    <div class="deleteContent">
        <form class="mg-1 deleteForm" action="/changePassword/{{id}}?_method=PUT" method="POST">
            <div class=" mg-1 center">
                <label class="font-medium" for="password">Old Password:</label>
                <input type="password" name="oldPassword">
            </div>
            <div class=" mg-1 center">
                <label class="font-medium" for="password">New Password:</label>
                <input type="password" name="newPassword">
            </div>
            <div class="mg-2 center">
                <button>Change Password</button>
            </div>
        </form>

    </div>
</div>