<div class="container-center">
    <div class="indexHeading">
        <h1><a href="/">THE YEAR BOOK</a></h1>
    </div>
    <div class="indexButtons">
        <button class="mg-1" type="submit"><a href="/login">Login</a></button>
        <button class="mg-1" type="submit"><a href="/register">Register</a></button>
    </div>
</div>