<div class="container-center">
    <div class="loginHeading">
        <h1>Login to <a href="/">THE YEAR BOOK.</a></h1>
    </div>
    <form class="mg-1 loginForm center" action="/login" method="POST">
        <div class="mg-1 center">
            <label class="font-medium" for="email">Email:</label>
            <input class="bottom-border" type="text" name="email">
        </div>
        <div class=" mg-1 center">
            <label class="font-medium" for="password">Password:</label>
            <input class="bottom-border" type="password" name="password">
        </div>
        <div class="mg-1 center">
            <button>Login</button>
        </div>
    </form>
</div>