<h2>Register</h2>
<form action="/register" enctype="multipart/form-data" method="POST">
    <label for="username">Name:</label>
    <input type="text" name="username">
    <br><br>
    <label for="password">Password:</label>
    <input type="text" name="password">
    <br><br>
    <label for="batch">Batch:</label>
    <input type="text" name="batch">
    <br><br>
    <label for="email">Email:</label>
    <input type="text" name="email">
    <br><br>
    <label for="bio">A short bio :</label>
    <textarea name="bio" id="" cols="20" rows="5"></textarea>
    <br><br>
    <input type="file" name="image">
    <br><br>
    <input type="submit" value="submit">
</form>