<div class="container">
    <div class="registerHeading">
        <h1>REgister at <a href="/">THE YEAR BOOK.</a></h1>
    </div>
    <div class="mg-1 center">
        <form class="mg-1 registerForm" action="/register" enctype="multipart/form-data" method="POST">
            <div class="mg-1 center">
                <label class="font-medium" for="username">Name:</label>
                <input class="bottom-border" type="text" name="username">
            </div>
            <div class="mg-1 center">
                <label class="font-medium" for="password">Password:</label>
                <input class="bottom-border" type="password" name="password">
            </div>
            <div class="mg-1 center">
                <label class="font-medium" for="batch">Batch:</label>
                <input class="bottom-border" type="text" name="batch">
            </div>
            <div class="mg-1 center">
                <label class="font-medium" for="email">Email:</label>
                <input class="bottom-border" type="text" name="email">
            </div>
            <div class="mg-1 center">
                <label class="font-medium" for="bio">A short bio :</label>
                <input class="bottom-border" type="text" name="bio">
            </div>
            <div class="mg-1 center">
                <label class="font-medium" for="bio">Select your year book image:</label>
                <input class="pad-1 font-medium" type="file" name="image">
            </div>
            <div class="mg-1 center">
                <button>Register</button>
            </div>
        </form>
    </div>
</div>