<div class="container">
    <div class="dashboardHeader">
        <img src="data:image/png;base64,{{image}}">
        <h1><a id="main" href="/">Home</a> | Settings</h1>
        <button type="submit"><a href="/logout">LOGOUT</a></button>
    </div>
    <div class="batchContent">
        <div class="batchButtons">
            <button class="mg-1"><a href="#"> UPDATE</a></button>
            <button class="mg-1"><a href="#">DELETE</a></button>
        </div>
    </div>
</div>