<div class="container-center">
    <div class="unverifiedHeading">
        <h1><a href="/">THE YEAR BOOK.</a></a></h1>
        <p>In order to use The Year Book please verify your account using the link emailed to you. Thank you.</p>
    </div>

</div>