<div class="container">
    <div class="dashboardHeader">
        <img src="data:image/png;base64,{{image}}">
        <h1><a id="main" href="/">Home</a> | Update</h1>
        <button type="submit"><a href="/logout">LOGOUT</a></button>
    </div>
    <div class="updateContent">
        <div class="updateButtons">
            <button class="mg-1"><a href="/changePassword">CHANGE PASSWORD</a></button>
            <button class="mg-1"><a href="/updateInfo">UPDATE INFO</a></button>
        </div>
    </div>
</div>