@import "@styles/utilities";

.profileData {
  flex-direction: column;
}

.profileData {
  margin: auto;
  margin-top: 10px;
  width: 80%;
}

.profileData img {
  border-radius: 50%;
}

.profileData h1 {
  margin-top: 10px;
  font-size: 2rem;
}

.profileData h2 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bolder;
}

.profileData p {
  width: 50%;
  margin-top: 10px;
  text-align: center;
}

.signatureHeading {
  margin: 30px;
}

.profileSignatures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

.signature {
  margin: 10px;
}

.signature h2 {
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .mainNav {
    justify-content: space-between;
    padding-left: 120px;
  }
}

@media (max-width: 1023px) {
  .profileData p {
    width: 100%;
  }

  .profileSignatures {
    display: flex;
    flex-direction: column;
  }
}
