* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.mg-1 {
  margin: 0.5em;
}

.mg-2 {
  margin: 1em;
}

.pad-1 {
  padding: 0.5em;
}

.pady-1 {
  padding-left: 1em;
  padding-right: 0.5em;
}

.font-small {
  font-size: 1em;
}

.font-medium {
  font-size: 2em;
}

.no-border {
  border: none;
  border-width: 0;
}

.bottom-border {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

.header {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginForm {
  width: 300px;
  height: 250px;
}

.loginForm * {
  font-family: "Nanum Pen Script";
}

.loginForm input {
  font-family: "QuickSand";
  margin: 0.25em;
  height: 2em;
  width: 20em;
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

.loginForm button {
  width: 60px;
  height: 25px;
  font-size: 1.25em;
  background-color: black;
  color: white;
  border: none;
  font-weight: normal;
}

.loginForm button:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
  transition: 1s;
}

.loginHeading h1 {
  font-family: "Nanum Pen Script";
  font-size: 3em;
  font-weight: bold;
}

.loginHeading h1 a {
  color: black;
  text-decoration: none;
}

.loginHeading h1 a:hover {
  color: red;
}

.registerHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.registerHeading h1 {
  font-family: "Nanum Pen Script";
  font-size: 3em;
  font-weight: bold;
}

.registerHeading h1 a {
  color: black;
  text-decoration: none;
}

.registerHeading h1 a:hover {
  color: red;
}

.registerForm {
  width: 400px;
  height: 400px;
}

.registerForm * {
  font-family: "Nanum Pen Script";
}

.registerForm input {
  font-family: "QuickSand";
  margin: 0.25em;
  height: 2em;
  width: 20em;
  font-size: 1em;
}

.registerForm button {
  width: 80px;
  height: 30px;
  font-size: 1.25em;
  background-color: black;
  color: white;
  border: none;
  font-weight: normal;
}

.registerForm button:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
  transition: 1s;
}

.indexHeading h1 {
  font-family: "Nanum Pen Script";
  font-weight: bold;
  font-size: 10em;
}

.indexHeading h1 a {
  text-decoration: none;
  color: black;
}

.indexHeading h1 a:hover {
  color: red;
}

.indexButtons * {
  font-family: "Nanum Pen Script";
}

.indexButtons button {
  width: 100px;
  height: 35px;
  background-color: black;
  border: none;
}

.indexButtons button:hover {
  background-color: gray;
  transition: 1s;
}

.indexButtons button a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.dashboardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1em;
}

.dashboardHeader img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.dashboardHeader button {
  height: 2.5em;
  width: 7em;
  border: none;
  background-color: black;
}

.dashboardHeader button a {
  font-family: "Nanum Pen Script";
  color: white;
  font-size: 1.75em;
  text-decoration: none;
  font-weight: bold;
}

.dashboardHeader button:hover {
  opacity: 0.4;
  transition: 0.5s;
  background-color: grey;
}

.batchContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.batchButtons * {
  font-family: "Nanum Pen Script";
}

.batchButtons button {
  height: 4em;
  width: 14em;
  border: none;
  background-color: black;
}

.batchButtons button a {
  color: white;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
}

.batchButtons button:hover {
  opacity: 0.4;
  transition: 0.5s;
  background-color: grey;
}

.batchHeading h1 {
  font-family: "Nanum Pen Script";
  font-weight: bold;
  font-size: 5em;
}

.batchHeading h1 a {
  text-decoration: none;
  color: black;
}
