@import "@styles/utilities";

.mainNav {
  justify-content: center;
  padding-top: 20px;
}

.mainNav h1 a {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: $titleFont;
  color: black;
}

@media (min-width: 1024px) {
  .mainNav {
    justify-content: space-between;
    padding-left: 120px;
  }
}
