<div class="container-center">
    <div class="message">
        <h1><a href="/">THE YEAR BOOK.</a></a></h1>
        <p>{{msg}}</p>
    </div>
</div>
<script>
    setTimeout(function () {
        window.location = "/";
    }, 3000)
</script>