* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.mg-1 {
  margin: 0.5em;
}

.mg-2 {
  margin: 1em;
}

.pad-1 {
  padding: 0.5em;
}

.pady-1 {
  padding-left: 1em;
  padding-right: 0.5em;
}

.font-small {
  font-size: 1em;
}

.font-medium {
  font-size: 2em;
}

.no-border {
  border: none;
  border-width: 0;
}

.bottom-border {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

.header {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginForm {
  width: 300px;
  height: 250px;
}

.loginForm * {
  font-family: "Nanum Pen Script";
}

.loginForm input {
  font-family: "QuickSand";
  margin: 0.25em;
  height: 2em;
  width: 20em;
  font-size: 1em;
}

.loginForm button {
  width: 60px;
  height: 25px;
  font-size: 1.25em;
  background-color: black;
  color: white;
  border: none;
  font-weight: normal;
}

.loginForm button:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
  transition: 1s;
}

.loginHeading h1 {
  font-family: "Nanum Pen Script";
  font-size: 3em;
  font-weight: bold;
}

.loginHeading h1 a {
  color: black;
  text-decoration: none;
}

.loginHeading h1 a:hover {
  color: red;
}

.registerHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.registerHeading h1 {
  font-family: "Nanum Pen Script";
  font-size: 3em;
  font-weight: bold;
}

.registerHeading h1 a {
  color: black;
  text-decoration: none;
}

.registerHeading h1 a:hover {
  color: red;
}

.registerForm {
  width: 300px;
  height: 250px;
}

.registerForm * {
  font-family: "Nanum Pen Script";
}

.registerForm input {
  font-family: "QuickSand";
  margin: 0.25em;
  height: 2em;
  width: 20em;
  font-size: 1em;
}

.registerForm select {
  width: 70px;
  height: 30px;
  font-size: 1.7em;
}

.registerForm button {
  width: 4em;
  height: 1.8em;
  font-size: 1.25em;
  background-color: black;
  color: white;
  border: none;
  font-weight: normal;
}

.registerForm button:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
  transition: 1s;
}

.indexHeading h1 {
  font-family: "Nanum Pen Script";
  font-weight: bold;
  font-size: 10em;
}

.indexHeading h1 a {
  text-decoration: none;
  color: black;
}

.indexHeading h1 a:hover {
  color: red;
}

.indexButtons * {
  font-family: "Nanum Pen Script";
}

.indexButtons button {
  width: 100px;
  height: 35px;
  background-color: black;
  border: none;
}

.indexButtons button:hover {
  background-color: gray;
  transition: 1s;
}

.indexButtons button a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1em;
}

.mainHeader h1 {
  font-family: "Shadows Into Light";
  font-size: 3em;
}

.mainHeader img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.mainHeader button {
  height: 2.5em;
  width: 7em;
  border: none;
  background-color: black;
}

.mainHeader button a {
  font-family: "Nanum Pen Script";
  color: white;
  font-size: 1.75em;
  text-decoration: none;
  font-weight: bold;
}

.mainHeader button:hover {
  opacity: 0.4;
  transition: 0.5s;
  background-color: grey;
}

.message h1 {
  font-family: "Nanum Pen Script";
  font-size: 5em;
  font-weight: bold;
}

.message h1 a {
  color: black;
  text-decoration: none;
}

.message h1 a:hover {
  color: red;
}

.message p {
  font-family: "Arial";
  font-size: 2em;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.mainContentButtons * {
  font-family: "Nanum Pen Script";
}

.mainContentButtons button {
  height: 4em;
  width: 14em;
  border: none;
  background-color: black;
}

.mainContentButtons button a {
  color: white;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
}

.mainContentButtons button:hover {
  opacity: 0.4;
  transition: 0.5s;
  background-color: grey;
}

.mainHeading h1 {
  font-family: "Nanum Pen Script";
  font-weight: bold;
  font-size: 5em;
}

.mainHeading h1 a {
  text-decoration: none;
  color: black;
}

.bookContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.bookEntry {
  height: 350px;
  width: 300px;
}

.bookEntry .imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookEntry img {
  width: 230px;
  height: 230px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 5px 10px 8px grey;
}

.bookEntry .name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0em;
}

.bookEntry .name h1 {
  font-size: 2em;
  font-family: "Shadows Into Light";
}

.userContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3em;
}

.userEntry {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 700px;
  margin: 3em;
  box-shadow: 5px 10px 8px grey;
}

.userEntry .imgdiv {
  display: flex;
  width: 230px;
  height: 100%;
}

.userEntry img {
  width: 100%;
}

.userEntry .datadiv {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 1em;
}

.userEntry .datadiv h1 {
  color: black;
  font-size: 2.25em;
  font-family: "Shadows Into Light";
}

.deleteContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.updateForm {
  width: 300px;
  height: 250px;
}

.updateForm * {
  font-family: "Nanum Pen Script";
}

.updateForm input {
  font-family: "QuickSand";
  margin: 0.25em;
  height: 2em;
  width: 20em;
  font-size: 1em;
}

.updateForm button {
  width: 150px;
  height: 30px;
  font-size: 1.5em;
  background-color: black;
  color: white;
  border: none;
  font-weight: normal;
}

.updateForm button:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;
}

.updateButtons * {
  font-family: "Nanum Pen Script";
}

.updateButtons button {
  width: 300px;
  height: 55px;
  border: none;
  background-color: black;
}

.updateButtons button a {
  color: white;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
}

.updateButtons button:hover {
  opacity: 0.4;
  transition: 0.5s;
  background-color: grey;
}

#main {
  text-decoration: none;
  color: black;
}

#main:hover {
  color: red;
}

@media (max-width: 768px) {
  .flex-column {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }

  .user-img-mg {
    margin-top: 3em;
  }

  .userContent {
    margin: 0;
  }

  .userEntry {
    width: 100%;
    align-items: center;
    margin: 0;
    box-shadow: none;
  }

  .userEntry .datadiv h1 {
    font-size: 1.5em;
  }

  .indexHeading h1 {
    font-size: 4em;
  }

  .loginHeading h1 {
    font-size: 2.25em;
  }

  .registerHeading h1 {
    font-size: 2em;
  }

  .mainHeader {
    flex-direction: column;
  }

  .mainHeader h1 {
    font-size: 29px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .mainHeading h1 {
    font-size: 33px;
  }

  .mainContentButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }

  .bookEntry {
    height: 300px;
  }

  .bookEntry img {
    width: 200px;
    height: 200px;
  }

  .updateButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
