@import "@styles/utilities";

.mainHeading {
  height: 300px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    a {
      text-decoration: none;
      font-family: $titleFont;
      font-size: 4rem;
      color: black;

      &:hover {
        color: $primaryHoverFontColor;
        transition: 0.5s;
      }
    }
  }

  h2 {
    font-size: 1rem;
  }
}
